body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;

}
.footer{
    background-color: #1F2937;
    font-size: 15px;
    color:white;
    text-align: center;
    font-weight: 100;
    padding: 10px;
    
}
.header{
    background-color: #1F2937;
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    color:white;
    margin: 0;
    padding: 0 80px;
    
}
ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0;
    gap: 15px;
}
a{
    text-decoration: none;
    color: white;
}
.intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:20px 20px 40px 20px;
    gap: 50px;
    
    background-color: #1F2937;
    color:white;

}
.welcome{
    width: 400px;
}
.welcome p{
    padding-bottom:10px;
}
.maintext{
    font-size: 40px;
    font-weight: bold ;
    color:#F9FAF8;
    margin-top: 0px;
}
.intro button{
    font-size: 15px;
    background-color: rgb(177, 184, 231);
    border:none;
    border-radius: 3px;
    padding: 5px 30px;
    font-size: 20px;
}
.intro button:hover{
    background-color:rgb(122, 127, 161) ;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 50px;
    padding: 20px;

}
.container .title{
    font-size: 38px;
    font-weight: bolder;
    color:#1F2937;
    padding:25px 25px 50px 25px;
    
}
.layout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 30px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content img{
    border:1px solid;
    border-color: #4267a3;
    border-radius: 8px;

}
.content img:hover{
    border-color: #E5E7EB;

}


.quote{
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 15px;
   
}
.quote p{
    font-size: 23px;
    color:#1F2937;
    font-style: italic;
    font-weight: 100;
    

}
.quote .source{
    font-size: 15px;
    align-items: flex-end;
    font-weight: 100;
    margin: 0px;
    padding-bottom: 20px;
}
.signup{
    background-color: #3882f6;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin:70px 200px;
    padding:40px 20px;
    border-radius: 15px;
}
.signup button{
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(241, 212, 158);
    padding: 5px 20px;
    font-size: 20px;

}
.signup button:hover{
    background-color: #265bb0;
}
.signuptext{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 0px;
}
.signuptitle{
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
.signupcontent{
    font-size: 18px;
    padding: 0px;
    color: rgb(241, 212, 158);
}